@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html,
  #root {
    @apply m-0 p-0 w-full h-full overflow-x-hidden;
  }

  body {
    background: linear-gradient(135deg, #0072ce 0%, #3bb273 50%, #ffd700 100%);
    background-attachment: fixed;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
